<launch>
    <!-- Load global GPS setpoints from YAML file if it exists -->
    <rosparam file="$(find px4_utils_land)/launch/global_setpoints.yaml" command="load" ns="global_gps" />

    <node pkg="px4_utils_land" type="px4_ctrl_fsm_node_land" name="px4_ctrl_fsm" output="screen">
        <param name="px4fsm/exec_period" value="0.01" type="double"/>
        <param name="px4fsm/cruise_height" value="2.0" type="double"/>
        <param name="px4fsm/fence_x" value="2000.0" type="double"/>
        <param name="px4fsm/fence_y" value="2000.0" type="double"/>
        <param name="px4fsm/fence_z" value="10.0" type="double"/>
        <param name="px4fsm/kp" value="0.002" type="double"/>
        <param name="px4fsm/ki" value="0.0001" type="double"/>
        <param name="px4fsm/land_cmd_topic" value="/trigger_landing" />
        <param name="camera/fx_" value="562.94" type="double"/>
        <param name="camera/fy_" value="422.21" type="double"/>
        <param name="camera/use_clache_" value="false" type="bool" />
        <param name="camera/image_topic" value="/camera/color/image_raw" type="string" />
        
        <!-- HSV Color Segmentation Parameters for White Beacon Detection -->
        <!-- <param name="hsv/h_min" value="0" type="int"/>
        <param name="hsv/h_max" value="180" type="int"/>
        <param name="hsv/s_min" value="0" type="int"/>
        <param name="hsv/s_max" value="30" type="int"/>
        <param name="hsv/v_min" value="200" type="int"/>
        <param name="hsv/v_max" value="255" type="int"/> -->

        <!-- HSV Color Segmentation Parameters for Red Beacon Detection -->
        <param name="hsv/h_min" value="165" type="int"/>
        <param name="hsv/h_max" value="180" type="int"/>
        <param name="hsv/s_min" value="100" type="int"/>  
        <param name="hsv/s_max" value="255" type="int"/>
        <param name="hsv/v_min" value="100" type="int"/>  
        <param name="hsv/v_max" value="255" type="int"/>

        <!-- HSV Color Segmentation Parameters for Yellow Beacon Detection -->
        <!-- <param name="hsv/h_min" value="10" type="int"/>
        <param name="hsv/h_max" value="40" type="int"/>
        <param name="hsv/s_min" value="100" type="int"/>
        <param name="hsv/s_max" value="255" type="int"/>
        <param name="hsv/v_min" value="100" type="int"/>
        <param name="hsv/v_max" value="255" type="int"/> -->

        <!-- auto mission params -->
        <!--<param name="px4fsm/enable_auto_mission" value="true" type="bool"/>
        <param name="px4fsm/auto_mission_target_x" value="60.0" type="double"/>
        <param name="px4fsm/auto_mission_target_y" value="80.0" type="double"/>
        <param name="px4fsm/auto_mission_target_z" value="5.0" type="double"/-->

        <!-- Option 1: Manual configuration (default) -->
        <!--param name="px4fsm/publish_global_setpoint" value="false" type="bool"/>
        <param name="px4fsm/global_setpoint_lat" value="37.4142541" type="double"/>
        <param name="px4fsm/global_setpoint_lon" value="-121.9958815" type="double"/>
        <param name="px4fsm/global_setpoint_alt" value="0.0" type="double"/>-->

        <!-- Option 2: Use target GPS from YAML file -->
        <param name="px4fsm/enable_auto_mission" value="true" type="bool"/>

        <param name="px4fsm/publish_global_setpoint" value="true" type="bool"/>

        <!-- Morphology Operation Parameters -->
        <param name="morphology/kernel_size" value="5" type="int"/>
        
        <!-- Detection Parameters -->
        <param name="detection/min_area" value="30" type="double"/>
    </node>

    <node pkg="px4_utils_land" type="px4_fsm_interface_node_land" name="px4_fsm_interface" output="screen">
        <param name="land_topic" value="/trigger_landing" />
    </node>

    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find px4_utils_land)/launch/test.rviz" required="true" />

</launch>
