<launch>
    <node pkg="px4_utils_land" type="tf02_pro_altimeter_node.py" name="tf02_pro_altimeter" output="screen">
        <param name="port" value="/dev/ttyUSB0" type="string"/>
        <param name="baudrate" value="115200" type="int"/>
        <param name="serial_timeout" value="0.1" type="double"/>
        <param name="reconnect_delay" value="1.0" type="double"/>

        <param name="scan_topic" value="/scan" type="string"/>
        <param name="frame_id" value="base_link" type="string"/>
        <param name="publish_rate" value="20.0" type="double"/>
        <param name="range_min" value="0.05" type="double"/>
        <param name="range_max" value="30.0" type="double"/>
        <param name="signal_threshold" value="0" type="int"/>
    </node>
</launch>
